body {
    background-color: #eee;
}

.bkg-img {
    height: 300px;
    width: 100%;
    object-fit: cover;
    top: -40px;
}


/* .centered-content {
  align-content: center;
  width: 300px;
  display: inline-block;
  overflow: hidden;
} */

.container {
    top: -220px;
    position: relative;
}

.container-item {
    background-color: white;
    padding-top: 25px;
    padding-bottom: 25px;
}

.headshot {
    width: 50%;
    /* align-content: center; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* display: flex;
  justify-content: center; */
    width: 40%;
    margin-top: 35px;
    margin-bottom: 20px;
}

.nav-wrapper {
    padding: 0px 10px;
}

.link-icons {
    text-align: center;
    list-style: inside;
}

.link-icons>li {
    display: inline;
    margin-left: 8px;
    margin-right: 8px;
}

.link-icons a {
    color: black;
}

.name-heading {
    font-style: bold;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 28px;
    text-align: center;
    margin-bottom: 0;
    font-weight: 700;
}

.name-subheading {
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 21px;
    text-align: center;
    margin-top: 5px;
}

a.download {
    text-align: center;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 17px;
    color: #fff;
    text-transform: none;
    margin: 10px;
    width: 210px;
}

div.download {
    text-align: center;
}

.custom-dark-blue {
    background-color: #041933 !important;
}

hr {
    width: 90%;
}

p.info-heading {
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 5px;
    margin-left: 20px;
    margin-right: 20px;
}

p.info-text {
    margin-top: 0;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 18px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 0;
}

.qualification-heading {
    /* border-bottom: #041933 1px; */
    text-decoration: underline;
    text-decoration-color: #474747;
    margin-left: 10px;
    color: #474747;
}

.container>section {
    padding-top: 65px;
}

.project-card.divider {
    margin-top: 5px;
    margin-bottom: 5px;
}

.mobile-contact>.container-item {
    margin-bottom: 25px;
}

.mobile-contact .contact-links {
    font-size: 21px;
    color: #484848;
    text-align: center;
}

.mobile-contact .email-form {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.mobile-contact .contact-links>a {
    width: 210px;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

.desktop-contact .email-form {
    width: 90%;
    /* display: block;
  margin-left: auto;
  margin-right: auto; */
    display: block;
    float: left;
    margin-left: 10px;
}

.desktop-contact .contact-links>a {
    width: 90%;
    display: block;
    /* text-align: center;
  margin-left: auto;
  margin-right: auto; */
    margin-right: 10px;
    margin-bottom: 15px;
    float: right;
    margin-top: 10px;
}

.email-submit {
    width: 210px;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

.col.border-right {
    border-right: 2px solid grey;
}

.footer {
    height: 50px;
    background-color: #041933;
    color: white;
    text-align: center;
}

.footer-copyright {
    color: white;
}

.footer>p {
    margin-top: 5px;
    margin-bottom: 5px;
}

#qualifications .card {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}


/* 
.card-content {
  padding-top: 25px !important;
  padding-left: 5px !important;
  padding-bottom: 5px !important;
} */

.timeline-content h5 {
    margin-left: 20px;
}

#qualifications .card {
    /* height: 250px; */
    clear: both;
    /* margin-bottom: 50px; */
    /* padding-bottom: 30px; */
}

#qualifications .card-content {
    padding: 5px;
    text-align: center;
}

#contact p {
    text-align: center;
    color: darkslategrey;
    font-size: 18px;
}

#projects .card-action {
    padding: 5px 10px;
}

.timeline-content ul.bulleted {
    padding: 0 25px;
}

ul.bulleted > li {
    list-style-type: circle !important;
}

div.card-image {
    height: 330px;
}

#qualifications .card-image > img {
    top: 50%;
    transform: translateY(-50%);
    height: auto; 
    /* width: 330px;  */
    max-width: 330px; 
    max-height: 330px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}